/*
    Material Community Animated
    Author: Diego Rafael Silva Santana
    Objetive: The project is based on sass for simplified screen transition animations.
    version: 0.0.2
    Full documentation: https://github.com/diegorafaelss/mc-animated
*/

// Main call to mc-animated
.mc-animated {
    // Patterns of animation
    animation-duration: 0.225s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    // Speeds
    &.test {
        animation-duration: 4s;
    }
    &.slow {
        animation-duration: 0.525s;
    }
    &.fast {
        animation-duration: 0.325s;
    }
    //  Delay start speed
    &.delay-test {
        animation-delay: 4s;
    }
    &.delay-slow {
        animation-delay: 0.325s;
    }
    &.delay-fast {
        animation-delay: 0.125s;
    }
    // Simulated output effect applicable to all animation classes
    &.reverse {
        animation-direction: reverse;
    }
    // Animation pack
    @import './mc-animated-pack-fade';
    @import './mc-animated-pack-shake';
    @import './mc-animated-pack-slide-fade-3d';
    @import './mc-animated-pack-slide-fade';
    @import './mc-animated-pack-slide-short';
    @import './mc-animated-pack-slide';
    @import './mc-animated-pack-zoom-elastic';
    @import './mc-animated-pack-zoom-fade';
    @import './mc-animated-pack-zoom';
}
