/*
    Material Community Animated
    Author: Diego Rafael Silva Santana
    Objetive: The project is based on sass for simplified screen transition animations.
    version: 0.0.1
*/


/* Keyframes */

@keyframes slide3dLeft {
    from {
        transform: translateY(-50%) rotateY(-90deg);
        opacity: 0;
    }
}

@keyframes slide3dRight {
    from {
        transform: translateY(50%) rotateY(-90deg);
        opacity: 0;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideTopShort {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
}

@keyframes slideBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes zoom {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes zoomElastic {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
    }
}

@keyframes shake {
    from {
        transform: rotate(-3deg);
    }
    to {
        transform: rotate(3deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
}

@keyframes flipLeft {
    from {
        transform: rotateY(-90deg);
    }
}

@keyframes flipRight {
    from {
        transform: rotateY(90deg);
    }
}
